@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
    font-display: swap;
}
* {
    box-sizing: border-box;
}
.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-item:hover {
    background-color: #3596F5;
}
.navbar-link {
    text-decoration: none;
    color: #FFF;
    font-family: "Roboto", sans-serif;
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    margin-bottom: 4px;
}
.navbar-phone {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    text-decoration: none;
}
.main {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
}
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1;
}
.main-title {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-btn {
    background-color: #FFF;
    border: none;
    cursor: pointer;
}
.counter {
    color: #635854;
    font-family: "Bebas Neue", sans-serif;
    font-size: 124px;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
}
.btn-primary {
    line-height: 18.75px;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    padding: 16px 36px;
    background-color: #3596F5;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}